#content {
  margin-top: 50px;
}

/* style-for-profile */
#content .profile {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  text-align: center;
  margin: 100px 0px 50px 0px;
}

#content .profile-name p {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 31px;
  text-align: center;

  color: #000;
}

#content .profile .icon-edit {
  vertical-align: bottom;
  margin-left: -20px;
  width: 20px;
}

#content .tab-profile li a {
  color: #666666;
}

#content .tab-profile li {
  margin-right: 80px;
}
/* end-style-for-profile */

#content .list-recipe {
  position: relative;
  margin-bottom: 20px;
}

#content .list-recipe img {
  height: 250px;
}

#content .list-recipe p {
  position: absolute;
  margin: 0px 0px 10px 20px;
  bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #ffffff;
  text-shadow: 1px 0px 1px #000;
}

#content .profile .change-profile {
  display: none;
}

#content .profile .change-profile button {
  background-color: #e7e7e7;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;

  color: #3f3a3a;
}

#content .profile .change-profile button:hover {
  background-color: #cacaca;

  color: #3f3a3a;
}

hr {
  margin-bottom: 20px;
}
