.left-side {
  background-image: url("../images/bg-login.png");
  background-size: cover;
}

.layer-left-side {
  height: 100%;
  margin-left: -12px;
  margin-right: -12px;
  background-color: rgba(239, 200, 26, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.layer-left-side .icon-register {
  width: 120px;
}

.text-icon-register {
  color: #fff;
  text-align: center;
}

.section-form-register {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.section-form-register h1 {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #efc81a;
}

.right-side {
  height: 100vh;
  /* height: fit-content; */
  background-color: #fff;
  text-align: center;
}

.section-form-register p {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  /* identical to box height, or 156% */

  margin-top: 25px;
  margin-bottom: 25px;

  align-items: center;

  color: #8692a6;
}

.section-form-register .form-group {
  margin-bottom: 10px;
  text-align: left;
}

.section-form-register .form-group input {
  /* font-family: "Inter"; */
  font-style: normal;
  font-size: 14px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #494949;
  height: 35px;
}

.section-form-register .form-group label {
  font-size: 14px;
  color: #696f79;
}

.form-check {
  text-align: left;
  /* font-family: "Inter"; */
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #696f79;
  margin-top: 20px;
  margin-bottom: 25px;
}

.section-form-register input:focus {
  border: 1px solid #efc81a;
  -webkit-box-shadow: 0px 0px 5px #efc81a;
  -moz-box-shadow: 0px 0px 5px #efc81a;
  box-shadow: 0px 0px 5px #efc81a;
}

.form-check-input:checked {
  background-color: #efc81a;
  border-color: #efc81a;
}

#btn-register {
  width: 100%;
  height: 50px;
  background-color: #efc81a;
  color: #fff;
  margin-bottom: 5px;
}

.login {
  /* font-family: "Airbnb Cereal App"; */
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  /* identical to box height */

  color: #999999;
  margin-top: 20px;
}

.login a {
  color: #efc81a;
  text-decoration: none;
}
