.left-side {
  height: 100vh;
  background-image: url("../../../public/images/bg-login.webp");
  background-size: cover;
}

.layer-left-side {
  height: 100vh;
  width: 100%;
  background-color: rgba(239, 200, 26, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.layer-left-side .icon-login {
  width: 120px;
}

.text-icon-login {
  color: #fff;
  text-align: center;
}
